tome.ink {
    reverse_proxy app:3000
    encode gzip

    header {
        # Security headers
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        # Remove server header
        -Server
    }
}

www.tome.ink {
    redir https://tome.ink{uri} permanent
}
